<a href="https://colab.research.google.com/github/VasaviSure/LangQueryAI/blob/main/LangQueryAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Requirement already satisfied: pymysql in /usr/local/lib/python3.12/dist-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)

In [ ]:
from sqlalchemy import create_engine, text

DB_URL = "DB CONNECTION URL"

engine = create_engine(DB_URL)

with engine.connect() as conn:
    result = conn.execute(text("SELECT COUNT(*) FROM film;"))
    print("Total films:", result.scalar())

Total films: 1000

In [ ]:
# Colab cell 1
!pip install -q sqlalchemy pymysql sqlparse langchain transformers huggingface_hub openai python-dotenv langchain-community langchain_openai langchain_huggingface

In [ ]:
from langchain_core.prompts import ChatPromptTemplate
from langchain_community.utilities import SQLDatabase
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI
from dotenv import load_dotenv

from langchain_huggingface import ChatHuggingFace, HuggingFaceEndpoint, HuggingFacePipeline

In [ ]:
from langchain_community.utilities import SQLDatabase

DB_URL = "mysql+pymysql://nl2sql_ro:readonly_pw@0.tcp.in.ngrok.io:14921/sakila"
db = SQLDatabase.from_uri(DB_URL, sample_rows_in_table_info=0)

def get_schema(_):
    return db.get_table_info()


def run_query(query):
    # print(f'Query being run: {query} \n\n')
    return db.run(query)

/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:159: SAWarning: Did not recognize type 'geometry' of column 'location'
  self._metadata.reflect(

In [ ]:
print(get_schema(''))

CREATE TABLE actor (
	actor_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (actor_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE address (
	address_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT UNSIGNED NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (address_id),
	CONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE category (
	category_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	name VARCHAR(25) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (category_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE city (
	city_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (city_id),
	CONSTRAINT fk_city_country FOREIGN KEY(country_id) REFERENCES country (country_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE country (
	country_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	country VARCHAR(50) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (country_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE customer (
	customer_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	store_id TINYINT UNSIGNED NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	email VARCHAR(50),
	address_id SMALLINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	create_date DATETIME NOT NULL,
	last_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (customer_id),
	CONSTRAINT fk_customer_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_customer_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE film (
	film_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	title VARCHAR(128) NOT NULL,
	description TEXT,
	release_year YEAR,
	language_id TINYINT UNSIGNED NOT NULL,
	original_language_id TINYINT UNSIGNED,
	rental_duration TINYINT UNSIGNED NOT NULL DEFAULT '3',
	rental_rate DECIMAL(4, 2) NOT NULL DEFAULT '4.99',
	length SMALLINT UNSIGNED,
	replacement_cost DECIMAL(5, 2) NOT NULL DEFAULT '19.99',
	rating ENUM('G','PG','PG-13','R','NC-17') DEFAULT 'G',
	special_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes'),
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (film_id),
	CONSTRAINT fk_film_language FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_language_original FOREIGN KEY(original_language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE film_actor (
	actor_id SMALLINT UNSIGNED NOT NULL,
	film_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (actor_id, film_id),
	CONSTRAINT fk_film_actor_actor FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_actor_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE film_category (
	film_id SMALLINT UNSIGNED NOT NULL,
	category_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (film_id, category_id),
	CONSTRAINT fk_film_category_category FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_category_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE film_text (
	film_id SMALLINT UNSIGNED NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT,
	PRIMARY KEY (film_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE inventory (
	inventory_id MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
	film_id SMALLINT UNSIGNED NOT NULL,
	store_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (inventory_id),
	CONSTRAINT fk_inventory_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_inventory_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE language (
	language_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	name CHAR(20) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (language_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE payment (
	payment_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	customer_id SMALLINT UNSIGNED NOT NULL,
	staff_id TINYINT UNSIGNED NOT NULL,
	rental_id INTEGER,
	amount DECIMAL(5, 2) NOT NULL,
	payment_date DATETIME NOT NULL,
	last_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (payment_id),
	CONSTRAINT fk_payment_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_payment_rental FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT fk_payment_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE rental (
	rental_id INTEGER NOT NULL AUTO_INCREMENT,
	rental_date DATETIME NOT NULL,
	inventory_id MEDIUMINT UNSIGNED NOT NULL,
	customer_id SMALLINT UNSIGNED NOT NULL,
	return_date DATETIME,
	staff_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (rental_id),
	CONSTRAINT fk_rental_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_rental_inventory FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_rental_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE staff (
	staff_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	picture BLOB,
	email VARCHAR(50),
	store_id TINYINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	username VARCHAR(16) NOT NULL,
	password VARCHAR(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (staff_id),
	CONSTRAINT fk_staff_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_staff_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4


CREATE TABLE store (
	store_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	manager_staff_id TINYINT UNSIGNED NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (store_id),
	CONSTRAINT fk_store_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_store_staff FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:363: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:375: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

In [ ]:
import os
os.environ["HUGGINGFACEHUB_API_TOKEN"] = "YOUR API TOKEN"
os.environ["OPENAI_API_KEY"] = "" # Replace with your actual OpenAI API key

In [ ]:
def get_llm(load_from_hugging_face=False):
    if load_from_hugging_face:
        llm = HuggingFaceEndpoint(
            repo_id="Qwen/Qwen2.5-VL-7B-Instruct",
            task="text-generation"
        )

        return ChatHuggingFace(llm=llm)

    return ChatOpenAI(model="gpt-3.5-turbo", temperature=0.0)

In [ ]:
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate, ChatPromptTemplate
from langchain_core.runnables import RunnablePassthrough, RunnableLambda

# 1️⃣ Query generation chain
def write_sql_query(llm):
    template = """Here are some example questions and their correct SQL translations using the Sakila database.
Follow these examples carefully to maintain correct table joins and aliases.

---
Example 1:
Question: Show the titles of films in the "Action" category.
SQL:
SELECT f.title
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id
WHERE c.name = 'Action';

---
Example 2:
Question: Find all actors who appeared in the movie "ACADEMY DINOSAUR".
SQL:
SELECT a.first_name, a.last_name
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN film f ON fa.film_id = f.film_id
WHERE f.title = 'ACADEMY DINOSAUR';

---
Example 3:
Question: List the top 5 customers by total payments.
SQL:
SELECT c.first_name, c.last_name, SUM(p.amount) AS total_spent
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY total_spent DESC
LIMIT 5;

---
Example 4:
Question: For each store, show the manager's full name, the store's city, and total revenue generated by that store. Order by revenue descending.
SQL:
SELECT s.store_id,
       CONCAT(m.first_name, ' ', m.last_name) AS manager_name,
       ci.city AS city,
       SUM(p.amount) AS total_revenue
FROM store s
JOIN staff m ON s.manager_staff_id = m.staff_id
JOIN address a ON s.address_id = a.address_id
JOIN city ci ON a.city_id = ci.city_id
JOIN staff st ON st.store_id = s.store_id
JOIN payment p ON p.staff_id = st.staff_id
GROUP BY s.store_id, manager_name, ci.city
ORDER BY total_revenue DESC;

---

Now, based on the examples and the table schema, write an accurate SQL query for the following question.
Always:
- Use short, meaningful aliases (f, c, s, m, st, p, etc.).
- Ensure that column names match their correct tables.
- Only output the SQL query, without explanations or markdown.

Schema:
{schema}

Question: {question}

    SQL Query:"""

    prompt = ChatPromptTemplate.from_messages(
        [
            ("system", "You are an expert SQL generator trained on the Sakila database. "
     "Always use correct table aliases and column names exactly as in the schema. "
     "Be precise, and never include explanations or commentary."),
            ("human", template),
        ]
    )

    def clean_sql_output(sql_query):
        # Remove markdown code block delimiters and strip whitespace
        sql_query = sql_query.replace('```sql', '').replace('```', '').strip()
        return sql_query

    return (
        RunnablePassthrough.assign(schema=get_schema)
        | prompt
        | llm
        | StrOutputParser()
        | RunnableLambda(clean_sql_output)
    )

# 2️⃣ Answer / rephrase prompt (improves result understanding)
answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question clearly.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer:"""
)

# 3️⃣ Final runnable chain: generate SQL → execute SQL → rephrase answer
def answer_user_query(question, llm):
    generate_query = write_sql_query(llm)

    chain = (
        RunnablePassthrough.assign(query=generate_query)
        .assign(result=itemgetter("query") | RunnableLambda(run_query))
        | answer_prompt
        | llm
        | StrOutputParser()
    )

    return chain.invoke({"question": question})

In [ ]:
import re

def is_safe_sql(query: str):
    """
    Basic safety filter to prevent harmful SQL queries.
    Allows only read-only (SELECT/WITH) statements.
    Blocks DROP, DELETE, UPDATE, INSERT, ALTER, etc.
    """
    q = query.strip().lower()

    # Allow only read-only operations
    if not q.startswith(("select", "with")):
        return (False, "Only SELECT and WITH queries are allowed.")

    # Disallow dangerous keywords anywhere
    forbidden = [
        "drop", "delete", "update", "insert", "alter",
        "create", "replace", "truncate", "grant", "revoke",
        "shutdown", "kill", "flush", "use", "set password",
        "load data", "outfile"
    ]

    for word in forbidden:
        if re.search(rf"\b{word}\b", q):
            return (False, f"Query contains forbidden keyword: {word.upper()}")

    # Disallow multiple statements (e.g., using ';' to chain)
    if ";" in q[:-1]:
        return (False, "Multiple SQL statements detected. Only one is allowed.")

    return (True, "")

In [ ]:
load_dotenv()

query = """List the first 10 film titles."""
response = answer_user_query(query, llm=get_llm(load_from_hugging_face=True))
print(response)

/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:363: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:375: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

Query being run: SELECT title FROM film LIMIT 10


The SQL query `SELECT title FROM film LIMIT 10` lists the first 10 film titles from the `film` table, and the results are as follows:

1. ACADEMY DINOSAUR
2. ACE GOLDFINGER
3. ADAPTATION HOLES
4. AFFAIR PREJUDICE
5. AFRICAN EGG
6. AGENT TRUMAN
7. AIRPLANE SIERRA
8. AIRPORT POLLOCK
9. ALABAMA DEVIL
10. ALADDIN CALENDAR

In [ ]:
load_dotenv()

query = """For each store, show the manager's full name, the store's city, and the total revenue generated by that store. Order results by revenue descending."""
response = answer_user_query(query, llm=get_llm(load_from_hugging_face=True))
print(response)

/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:363: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:375: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

Query being run: SELECT
    s.store_id,
    CONCAT(m.first_name, ' ', m.last_name) AS manager_name,
    ci.city AS city,
    SUM(p.amount) AS total_revenue
FROM
    store s
JOIN
    staff m ON s.manager_staff_id = m.staff_id
JOIN
    address a ON s.address_id = a.address_id
JOIN
    city ci ON a.city_id = ci.city_id
JOIN
    payment p ON p.staff_id = m.staff_id
GROUP BY
    s.store_id, m.first_name, m.last_name, ci.city
ORDER BY
    total_revenue DESC;


The answer to the user's question is:

For each store, the manager's full name, the store's city, and the total revenue generated by that store are as follows, ordered by the revenue in descending order:

1. Store ID: 2, Manager Name: Jon Stephens, Store City: Woodridge, Total Revenue: $33,924.06
2. Store ID: 1, Manager Name: Mike Hillyer, Store City: Lethbridge, Total Revenue: $33,482.50

In [ ]:
load_dotenv()

query = """Which category earns the most revenue?"""
response = answer_user_query(query, llm=get_llm(load_from_hugging_face=True))
print(response)

/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:363: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:375: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

The category that earns the most revenue is "Sports," with a total revenue of $5314.21.

In [ ]:
load_dotenv()

query = """For each city, top revenue-generating store and its manager"""
response = answer_user_query(query, llm=get_llm(load_from_hugging_face=True))
print(response)

/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:363: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
/usr/local/lib/python3.12/dist-packages/langchain_community/utilities/sql_database.py:375: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "staff, store", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

Query being run: SELECT c.city,
       s.store_id,
       m.first_name,
       m.last_name,
       SUM(p.amount) AS total_revenue
FROM city c
JOIN store s ON c.city_id = s.address_id
JOIN staff m ON s.manager_staff_id = m.staff_id
JOIN payment p ON s.store_id = p.staff_id
GROUP BY c.city, s.store_id, m.first_name, m.last_name
ORDER BY total_revenue DESC
LIMIT 1;


The user's question asks for the top revenue-generating store and its manager for each city. The SQL query provided is designed to achieve this by joining four tables: city, store, staff, and payment. The query selects the city, store ID, first name, last name, and total revenue for each store, then groups by city, store ID, first name, and last name, orders the results by total revenue in descending order, and limits the result to the top store for each city.

The SQL result shows that for the city "Abha," the top revenue-generating store (identified by store_id 2) is managed by the staff member with first name "Jon" and last name "Stephens," and the total revenue generated by this store is $33,924.06.